@use 'mediaquery' as *;

html,body{
	@include mq('xl'){ font-size: 11px; }
	@include mq('pc'){ font-size: 10px; }
	@include mq('tb'){ font-size: 12px; }
	@include mq('xx'){ font-size: 12px; }
	@include mq('sp'){ font-size: 10px; }
	@include mq('xs'){ font-size:  9px; }
}
h1   { @include mqFontSize( 12em, 4.0em );}
h2   { @include mqFontSize( 3.5em, 3.0em );}
h3   { @include mqFontSize( 2.0em, 1.8em );}
h4   { @include mqFontSize( 2.0em, 1.8em );}
h5   { @include mqFontSize( 1.6em, 1.6em );}
p    { @include mqFontSize( 1.5em, 1.3em );}
a    { @include mqFontSize( 1.4em, 1.3em );}

body{
  font-family: 'source-han-sans-japanese','Noto+Sans+JP','Noto Sans JP', 'NotoSansCJKjp',"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 600;
}

@mixin fontEng {
	font-family: "termina", sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}